.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
    animation: wake_up 60s linear infinite normal -5s;
}

@keyframes wake_up {
from {background: darkslateblue;
    box-shadow: 0 -400px 300px -300px transparent inset;}
35% {background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;}
80% {background: darkslateblue;
    box-shadow: 0 -400px 300px -300px orangered inset;}
to {background: darkslateblue;
    box-shadow: 0 -400px 300px -300px transparent inset;}
}

/*TODO
Sky colors are set by the following properties:
Day:
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
Evening:
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px orangered inset;
Night:
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px transparent inset;

Нужно реализовать плавный переход между ними и зациклить его.
*/

/*  --------- SUN -------- */

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
}


.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.sun {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    to {transform: rotate(180deg);}
}

.sun-wrapper {
    animation: sunrise 60s linear infinite -45s;
}

@keyframes sunrise {
    to {
        transform: rotate(1turn);
    }
}

/*  --------- clouds -------- */

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;

}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
    animation: move 70s linear infinite normal -30s;
}
@keyframes move {
    from { transform: scale(0.3) translateX(0px); }
    to { transform: scale(0.3) translateX(2000px); }
}

.cloud-2 {
    top: 50px;
    animation: move2 55s linear infinite normal -0.2s;
}

@keyframes move2 {
    from { transform: scale(-0.4, 0.4) translateX(0px); }
    to { transform: scale(-0.4,0.4) translateX(-2000px); }
}

.cloud-3 {
    top: 100px;
    animation: move3 45s linear infinite normal -20s;
}

@keyframes move3 {
    from {transform: scale(0.5) translateX(0px);}
    to {transform: scale(0.5) translateX(2000px);}
}

.cloud-4 {
    top: 170px;
    animation: move4 35s linear infinite normal 0s;
}

@keyframes move4 {
    from { transform: scale(-0.6, 0.6) translateX(0px); }
    to { transform: scale(-0.6,0.6) translateX(-2000px); }
}

/*  --------- SEA  -------- */

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}

/*  --------- ПАРОХОД -------- */
.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;

    width: 100px;
    height: 36px;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}



/*  --------- SMOKE -------- */
.smoke div {
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;
    animation: move_smoke 2s linear infinite normal 0.6s;
}

.smoke-2 {
    top: -25px;
    right: 42px;
    animation: move_smoke 2s linear infinite normal 1.8s;
}

.smoke-3 {
    top: -25px;
    right: 49px;
    animation: move_smoke 2s linear infinite normal 1.2s;
}

@keyframes move_smoke {
    from {opacity: 1;
          transform: scale(1) translateY(0%);}
    to { opacity: 0;
        transform: scale(1.8) translateY(-120%);}
}

/*  --------- SHIP -------- */

.ship {
    animation: move_ship 50s linear infinite normal 0s;
}

@keyframes move_ship {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-800px); }
}